@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*{
box-sizing:border-box;
}

:root{
--border-color:#e3e5e4;
--background-color:#c3c7ca;
--text-color:#34444f;
}

body{
display:flex;
flex-direction:column;
align-items:center;
height:100vh;
margin:0;
font-family:"Lato",sans-serif;
}

.draggable-list{
border:1px solid var(--border-color);
list-style:none;
padding:0;
width:350px;
}

.draggable-list li{
display:flex;
background:#fff;
}

.draggable-list li:not(:last-child){
border-bottom:1px solid var(--border-color);
}

.number{
background:var(--background-color);
display:flex;
align-items:center;
justify-content:center;
width:60px;
height:60px;
font-size:28px;
}

.person-name{
margin:0 20px;
}

.draggable{
display:flex;
align-items:center;
justify-content:space-between;
flex:1;
padding:15px;
cursor:pointer;
}

.draggable-list li.right .person-name{
color:#3ae374;
}

.draggable-list li.wrong .person-name{
color:#ff3838;
}

.check-btn{
margin-top:20px;
padding:10px 20px;
border:none;
cursor:pointer;
background:var(--background-color);
}

.check-btn:active{
transform:scale(.9);
}